.input {
  flex: 1;
  max-width: 260px;
  padding: 10px 18px;
  font-size: 17px;
  border: none;
  border-radius: 16px;
  background: #f7f8fa;
  box-shadow: 4px 4px 16px #e9e9f3, -4px -4px 16px #ffffff;
  transition:
    box-shadow 0.18s,
    border-color 0.15s,
    background 0.18s;
}



.input:focus {
  outline: none;
  background: #fff;
  box-shadow: 0 0 0 3px #e0d7ff, 4px 4px 16px #e9e9f3, -4px -4px 16px #ffffff;
}
